:root{

    /* COLORS */

    --background:#08090F;

    --panel:#12131A;

    --text:#FFFFFF;

    --muted:#B8BCC8;

    --accent:#E10600;

    /* TYPOGRAPHY */

    --font-heading:
        "Titillium Web",
        sans-serif;

    --font-body:
        "Titillium Web",
        sans-serif;

    --hero-size:72px;

    --title-size:52px;

    --card-size:44px;

    --driver-size:18px;

    --small-size:14px;

    /* SPACING */

    --space-1:8px;

    --space-2:16px;

    --space-3:24px;

    --space-4:32px;

    --space-5:48px;

    /* RADIUS */

    --radius:24px;

}