.team-selection{

    min-height:100vh;

    background:#090909;

    color:white;

    padding:60px;

    display:flex;

    flex-direction:column;

    align-items:center;
}

.team-selection h1{

    font-size:48px;

    margin-bottom:50px;
}

.team-grid{

    display:grid;

    grid-template-columns:repeat(5,220px);

    gap:24px;

    margin-bottom:50px;
}


.continue-button{

    width:260px;

    padding:18px;

    background:#E10600;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;
}

.continue-button:disabled{

    opacity:.4;

    cursor:not-allowed;
}