.main-menu{

    width:100vw;
    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:18px;

    background:#0c0c0c;

    color:white;
}

.main-menu h1{

    font-size:72px;

    font-weight:900;

    letter-spacing:.08em;
}

.main-menu h2{

    color:#E10600;

    letter-spacing:.25em;

    margin-bottom:60px;
}

.main-menu button{

    width:260px;

    padding:18px;

    background:#E10600;

    border:none;

    color:white;

    font-size:20px;

    font-weight:700;

    cursor:pointer;

    transition:0.2s;
}

.main-menu button:hover{

    transform:scale(1.03);
}